<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Add Restaurant</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<h2>Add Restaurant</h2>
<form action="/create" method="POST" class="form-horizontal" id="addRestaurantForm">
  <div class="form-group">
    <label for="restaurant_name" class="col-sm-2 control-label">Restaurant Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="restaurant_name" name="restaurantName" placeholder="Bob's Burger House" required>
    </div>
  </div>
  <div class="form-group">
    <label for="cuisine" class="col-sm-2 control-label">Cuisine</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cuisine" name="cuisine"  placeholder="American" required>
    </div>
  </div>
  <div class="form-group">
    <label for="price_rating" class="col-sm-2 control-label">Price Rating</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="expensive_rating" name="expensiveRating" placeholder="1-5" required>
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="location_neighborhood" name="locationNeighborhood" placeholder="Fremont">
    </div>
  </div>
  <div class="form-group">
    <label for="proximity_home" class="col-sm-2 control-label">Close to home?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="close_home" name="closeToHome" placeholder="true">
    </div>
  </div>
  <div class="form-group">
    <label for="website" class="col-sm-2 control-label">Link</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="website" name="website" placeholder="http://bobs.com">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Restaurant</button>
    </div>
  </div>
</form>
